* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color:#fff;
  padding: 0.8em;
  margin-top: 0px;
  margin-bottom: 0px;
}

#welcome {
  background-image: url(img/responsive-web-design-bg-3.jpg);
  background-position: center 30%;
  background-size: cover;
}

#contact {
  background-image: url(img/responsive-web-design-bg-3.jpg);
  background-position: center 30%;
  background-size: cover;
}
.big{
  font-size: 20px;
}
.orden {
  display:flex;
}
.picture{
  width: 50%;

}

.txt {
  color: #fff;
}
.ha{
  padding-top: 30px;
}


section {
  width: 100%;
  height: 100vh;
}

#mobile-demo {
  width: 100px;
  box-shadow: none;
  background-color: #9e9e9e;
}

#proyect {
    width: 100%;
  height: auto;

}
.main {
    width: 90%;
    margin: 0 ;
    position: relative;
}

.text-one {
  text-align: center;
}

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
}

a {
  font-weight: 20px;
}
.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}

.ch-info-wrap, 
.ch-info{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: #f9f9f9 url(img/bg.jpg);
  box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);
  
}

.ch-info {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 100;
  box-shadow: 
    inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
  background: rgba(230,132,107,0);
}

.ch-img-1 { 
  background-image: url(img/POPSTARWARS_AMIDALA.jpg);
}

.ch-img-2 { 
  background-image: url(img/images.png);
}

.ch-img-3 { 
  background-image: url(img/giphy-downsized.gif);
}

.ch-info h3 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 25px;
  padding: 40px 0 0 0;
  height: 90px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #000,
    0 1px 2px rgba(0,0,0,0.3);
}

i {
  font-size: 5em;
  color :#9e9e9e;
}

.ch-info p {
  color: #000;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}
 .brand-logo{
  width: 20px;
  height: auto;
 }

.ch-info p a {
  display: block;
  color: #000;
  color: #000;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff;
}

#desborde {
  overflow: hidden;
  background-color: #9e9e9e;
}

.ch-item:hover .ch-info-front {
  -webkit-transform: rotate3d(1,0,0,-180deg);
  -moz-transform: rotate3d(1,0,0,-180deg);
  -o-transform: rotate3d(1,0,0,-180deg);
  -ms-transform: rotate3d(1,0,0,-180deg);
  transform: rotate3d(1,0,0,-180deg);
  
  box-shadow:
    inset 0 0 5px rgba(255,255,255,0.2),
    inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
  background: gray;
}


#skills , #contact , #project  {
  text-align: center;
}
 #contact {
  width: 100%;
  height: 100vh;
 }

#skills {
  background-color: #B2BABB;
}
#about {
  background-color: #CCD1D1;
  height: 100vh;
}

#projects {
  background-color: #9e9e9e;
}

#contact{
  background-color: #CCD1D1;
}
img{
  width: 80%;
}

@media (max-width: 500px)  {
  #contact .carousel-item {
    width: 150px;
  }

}

